@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
